<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Timmy</title>
    <style>
      body {
        font-family: system-ui, sans-serif;
        margin: 2rem;
      }
    </style>
  </head>
  <body>
    {% include "_nav.html" %}
    <h1>Timmy</h1>
    <p><a href="{{ url_for('main.records') }}">Browse records &rarr;</a></p>
    <p>
      <pre><code>{{ td.conn.query("""select source, count(*) as record_count from metadata.current_records group by all order by source;""") }}</code></pre>
    </p>
  </body>
</html>
